@use '../abstracts' as vars;

// Links
.link,
.link:visited {
  color: vars.$text-primary-clr;
  text-decoration: none;
  transition: 0.3s;
}

.link:hover {
  background: -webkit-linear-gradient(45deg, #a74d77, #c5b8be);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Buttons
.button {
  width: 15rem;
  height: 4rem;
  padding: 0.2em;
  font-size: 2.1rem;
  color: vars.$text-primary-clr;
  text-align: center;
  background: -webkit-linear-gradient(45deg, #a74d77, #c5b8be);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: vars.$button-shadow-outer;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background: inherit;
    -webkit-text-fill-color: vars.$text-primary-clr;
  }

  &:active {
    box-shadow: vars.$button-shadow-inner;
  }
}

// Text blocks
.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  height: 100%;
  padding-top: 35px;
  padding-bottom: 50px;
  font-size: 2.5rem;
  font-weight: vars.$bold;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 2rem;
  }

  @media (max-width: 500px) {
    font-size: 1.6rem;
  }
}

// Images
.img {
  width: 25%;
  height: 60%;
}

// Social links
.social-share {
  padding: 5px 8px;
  box-shadow: vars.$button-shadow-outer;
  border-radius: 10px;
}

// Language switch
.switch-lang {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;

  input {
    display: none;
  }

  label {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    background: rgba(255, 255, 255, 0);
    border-radius: 1.6rem;
    box-shadow: vars.$button-shadow-outer;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0.5rem;
      width: 2rem;
      height: 2rem;
      color: vars.$text-primary-clr;
      border-radius: 50%;
      background: vars.$bg-secondary-clr;
      transition: all 0.4s ease;
    }

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background: linear-gradient(
        330deg,
        vars.$shadow-white-clr 0%,
        #c5b8be 50%,
        #a74d77 100%
      );
      opacity: 0;
      transition: all 0.4s ease;
    }
  }

  & input:checked {
    & ~ label {
      &::before {
        opacity: 1;
      }
      &::after {
        left: 60%;
        color: vars.$text-primary-clr;
        background: vars.$bg-primary-clr;
      }
    }
  }
}
