@use '../abstracts' as vars;

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: vars.$bg-primary-clr;
}

.main {
  flex-grow: 1;
  margin-bottom: 40px;
  .container {
    height: 100%;
    padding-top: 7.5%;
  }
}

.content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  padding: 15px 15px;
  max-width: min(80%, 700px);
  min-height: 90%;
  box-shadow: vars.$block-shadow;
  border-radius: 10px;
  .quote {
    flex-grow: 3;
  }
}

.img-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  width: 100%;
}

.functionality-container {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  width: 100%;
}
