/* General */
:root {
  --clr-primary: #000000;
  --clr-secondary: #ffffff;
  --clr-contrast: #bdae82;

  --ff-primary: 'Inter', sans-serif;
  --ff-secondary: 'Merriweather', serif;

  --fs-title-primary: 60px;
  --fs-title-secondary: 40px;

  color: var(--clr-secondary);
  font-family: var(--ff-primary);
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh;
  background-color: var(--clr-primary);
}

body.light-theme {
  background-color: var(--clr-secondary);
}

.container {
  /* max-width:1440px - Add in portfolio #2*/
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
.container-header {
  display: flex;
  align-items: center;
  min-height: 90px;
  line-height: 50px;
  background-image: url('./assets/img/bg-portfolio.jpg');
  background-position: center 0;
  background-size: auto 910px;
  background-repeat: no-repeat;
}

.header-logo {
  display: flex;
  align-items: center;
  height: 75px;
}

.nav {
  width: 500px;
  margin-left: auto;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.nav-list-item {
  padding: 12.5px 0;
  font-size: 20px;
  text-decoration: none;
}

.switch-lng {
  display: flex;
  justify-content: space-between;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  width: 70px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.switch-lng-check {
  display: block;
  cursor: pointer;
  transition: 0.3s;
}

.switch-lng-check:hover {
  color: var(--clr-contrast);
}

.switch-lng-check.active {
  position: relative;
}

.switch-lng-check.active::after {
  position: absolute;
  bottom: 10px;
  left: 0;
  content: '';
  width: 105%;
  border: 2px solid var(--clr-contrast);
}

.switch-theme {
  margin-left: 30px;
}

.menu-btn {
  display: none;
}

/* Main */
.container-fullscreen {
  padding: 0;
}

.container-padding {
  display: grid;
  align-content: space-between;
}

.container-padding > .section {
  padding-top: 100px;
}

.section.light-theme {
  color: var(--clr-primary);
}

.section-title {
  position: relative;
  z-index: 1;
  margin: 0 auto 60px;
  width: 700px;
  height: 80px;
  text-align: center;
}

.section-title::before {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  content: '';
  margin: 0 auto;
  border-top: 2px solid var(--clr-contrast);
}

.section-title.light-theme::before {
  border-color: var(--clr-primary);
}

.section-title-text {
  padding: 15px 20px;
  font-family: var(--ff-secondary);
  font-size: var(--fs-title-secondary);
  font-weight: 700;
  color: var(--clr-contrast);
  line-height: 80px;
  background-color: var(--clr-primary);
}

.section-title-text.light-theme {
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
}

.section-hero {
  min-height: 820px;
  padding-top: 160px;
  background-image: url('./assets/img/bg-portfolio.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
  background-size: auto 910px;
}

.hero-container {
  width: 500px;
  margin-right: auto;
  margin-left: 80px;
  margin-bottom: 330px;
}

.hero-title {
  margin-bottom: 10px;
  font-family: var(--ff-secondary);
  font-size: var(--fs-title-primary);
  font-weight: 700;
  line-height: 120px;
}

.hero-text {
  margin-bottom: 25px;
  padding-right: 30px;
  font-size: 20px;
  line-height: 40px;
}

.section-skills {
  min-height: 482px;
}

.skills-items {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  min-height: 242px;
}

.skills-item {
  display: flex;
  flex-direction: column;
  width: 320px;
  text-align: center;
}

.skills-item-img {
  margin: 0 130px 45px;
}

.skills-item-header {
  display: block;
  margin: 0 20px 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
}

.skills-item-text {
  display: block;
  margin: 0 20px 8px;
  line-height: 36px;
}

.portfolio-btns {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 0 auto 60px;
}

.portfolio-btn.active {
  color: var(--clr-primary);
  background-color: var(--clr-contrast);
}

.portfolio-btn.light-theme {
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
}

.portfolio-btn.light-theme:hover {
  background-color: var(--clr-contrast);
}

.portfolio-btn.active.light-theme {
  color: var(--clr-secondary);
  background-color: var(--clr-contrast);
}

.portfolio-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

#video {
  padding-top: 10.3%;
}

.video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1400px;
  height: 705px;
  background-image: url('./assets/img/video-player.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.video-player-btn {
  position: absolute;
  padding: 0;
  width: 130px;
  height: 130px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#price {
  padding-top: 10.3%;
  padding-right: 20px;
  padding-left: 20px;
}

.price-items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  text-align: center;
}

.price-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  height: 505px;
  padding: 43px 0;
  border: 3px solid var(--clr-contrast);
}

.price-item-header {
  font-family: var(--ff-secondary);
  font-size: 28px;
  font-weight: 700;
  line-height: 56px;
}

.price-item-price {
  font-family: var(--ff-secondary);
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  color: var(--clr-contrast);
}

.price-item-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.price-item-line {
  display: block;
  line-height: 36px;
}

.section-contacts {
  padding-top: 60px;
  min-height: 700px;
  background: url('./assets/img/bg-contacts.jpg');
  background-size: auto 700px;
  background-position: center center;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
  margin-right: 20px;
  margin-left: auto;
  max-width: 450px;
}

.contacts-item {
  padding: 5px 0 5px 20px;
  height: 50px;
  font-size: 20px;
  font-family: inherit;
  line-height: 40px;
  color: var(--clr-contrast);
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--clr-contrast);
}

.contacts-title {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  width: auto;
}

.contacts-title-text {
  padding: 0;
  background-color: transparent;
}

.contacts-title::before {
  content: none;
}

.contacts-message {
  margin-bottom: 10px;
  height: 100px;
  resize: none;
}

/* Footer */
.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.container-footer.light-theme {
  background-color: var(--clr-primary);
}

.container-footer-item {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
}

.footer-data {
  width: 188px;
  gap: 20px;
}

footer-rss-text {
  display: block;
}

.footer-social {
  gap: 20px;
  padding: 0;
  list-style: none;
}

.social-link {
  display: flex;
  align-items: center;
}

/* Utility */
.link,
.link:visited {
  color: var(--clr-secondary);
  text-decoration: none;
  transition: 0.3s;
}

.link:hover {
  color: var(--clr-contrast);
}

.btn {
  width: 220px;
  height: 55px;
  padding: 0;
  font-family: var(--ff-primary);
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  color: var(--clr-primary);
  border: none;
  background-color: var(--clr-contrast);
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  color: var(--clr-secondary);
}

.btn-dark {
  color: var(--clr-contrast);
  border: 2px solid var(--clr-contrast);
  background-color: var(--clr-primary);
}

.btn-dark:hover {
  color: var(--clr-secondary);
}

.pulse:hover, .pulse:focus{
	box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
	animation: pulse 1s;
}

@keyframes pulse{
	0%{box-shadow: 0 0 0 0 var(--clr-contrast)}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--clr-contrast);
  transition: background-color 0s ease-in-out 9000s;
}

.input:focus {
  outline: none;
}

.icon {
  width: 30px;
  height: 30px;
  fill: var(--clr-secondary);
}

.header-icon {
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

.header-icon:hover {
  fill: var(--clr-contrast);
  cursor: pointer;
}

.switch-theme-icon {
  fill: var(--clr-secondary);
  width: 45px;
  height: 45px;
  transition: 0.3s;
}

.switch-theme-icon:hover {
  fill: var(--clr-contrast);
  cursor: pointer;
}

.skills-icon {
  width: 63px;
  height: 50px;
}

.video-icon {
  width: 130px;
  height: 130px;
  fill: var(--clr-secondary);
}

.video-icon:hover {
  fill: var(--clr-contrast);
  transition: 0.3s;
}

.social-icon {
  width: 32px;
  height: 32px;
  transition: 0.3s;
}

.social-icon:hover {
  fill: var(--clr-contrast);
}

::placeholder {
  font-family: inherit;
  color: var(--clr-contrast);
  font-size: 20px;
  line-height: 40px;
}

/* Media-queries */
@media (max-width: 1439px) {
  .container-header {
    min-height: 90px;
    background-size: auto 910px;
  }

  .section {
    width: 100%;
  }

  .switch-lng {
    width: 6%;
  }

  .section-title {
    width: 45%;
  }

  .hero-container {
    width: 35%;
  }

  .skills-items {
    justify-content: space-evenly;
    gap: 0;
  }

  .skills-item {
    width: 35%;
    min-height: 300px;
  }

  .portfolio-btns {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    max-width: 45%;
  }

  .portfolio-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    justify-items: center;
    row-gap: 25px;
    margin: 0 auto;
    width: 85%;
  }

  .portfolio-img {
    width: 80%;
  }

  .video-player {
    width: 100%;
    min-height: 705px;
  }

  .video-player-btn {
    width: 10%;
  }

  .video-icon {
    width: 85%;
  }

  .price-items {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 80px;
  }

  .price-item {
    width: 40%;
  }

  .contacts-title {
    width: 100%;
  }

  .section-contacts {
    background-size: 100% 700px;
    background-size: cover;
  }
}

@media (max-width: 768px) {
  :root {
    --fs-title-primary: 32px;
    --fs-title-secondary: 28px;
  }

  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 60px;
  }

  .container-header {
    position: relative;
    background-image: url('./assets/img/bg-portfolio.jpg');
    background-position: left -30px;
    background-repeat: no-repeat;
    background-size: auto 620px;
    overflow-x: hidden;
  }

  .nav {
    position: fixed;
    top: 0;
    right: -620px;
    z-index: 2;
    display: flex;
    width: 80%;
    height: 100%;
    background-color: var(--clr-primary);
    transition: 0.5s;
  }

  .nav.open {
    right: 0;
  }

  .nav.light-theme {
    background-color: var(--clr-secondary);
  }

  .nav-list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 134px;
    margin-left: 20%;
  }

  .nav-list-item {
    height: 73px;
    font-size: 35px;
    line-height: 72px;
  }

  .nav-list-item::hover {
    color: var(--clr-contrast);
  }

  .nav-link.light-theme {
    color: var(--clr-primary) !important;
  }

  .nav-link.light-theme:hover {
    color: var(--clr-contrast) !important;
  }

  .switch-lng {
    margin: 0 20px 0 auto;
    width: 13%;
  }

  .switch-theme {
    margin-left: 0;
    margin-right: 30px;
  }

  .menu-btn {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
  }

  .menu-btn-burger {
    width: 100%;
    height: 3px;
    background: var(--clr-secondary);
  }

  .menu-btn-burger::before,
  .menu-btn-burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: var(--clr-secondary);
    transition: 0.3s;
  }

  .menu-btn-burger::before {
    transform: translateY(-13px);
  }

  .menu-btn-burger::after {
    transform: translateY(13px);
  }

  .menu-btn.open .menu-btn-burger {
    background-color: transparent;
  }

  .menu-btn.open .menu-btn-burger::before {
    transform: rotate(45deg);
  }

  .menu-btn.open .menu-btn-burger::after {
    transform: rotate(-45deg);
  }

  .menu-btn.open .menu-btn-burger.light-theme::before,
  .menu-btn.open .menu-btn-burger.light-theme::after {
    background-color: var(--clr-primary);
  }

  .container-fullscreen {
    padding: 0;
  }

  .container-padding > .section {
    padding-top: 80px;
    max-width: 758px;
  }

  .section-title {
    width: 364px;
    margin-bottom: 50px;
  }

  .section-title-text {
    padding: 15px 20px;
    font-family: var(--ff-secondary);
    font-size: var(--fs-title-primary);
    font-weight: 700;
    color: var(--clr-contrast);
    line-height: 80px;
    background-color: var(--clr-primary);
  }

  .section-hero {
    padding-top: 78px;
    min-height: 500px;
    background-position: left -120px;
    background-size: auto 620px;
  }

  .hero-container {
    width: 390px;
    margin-left: 60px;
    margin-bottom: auto;
  }

  .hero-title {
    margin-bottom: 20px;
    font-size: var(--fs-title-primary);
    font-weight: 400;
    line-height: 64px;
  }

  .hero-text {
    margin-bottom: 60px;
    padding: 0;
    font-size: 20px;
    line-height: 24px;
  }

  .section-skills {
    height: 729px;
  }

  .skills-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: stretch;
    column-gap: 30px;
    row-gap: 36px;
    max-width: 728px;
    max-height: 520px;
  }

  .skills-item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    min-height: 225px;
    text-align: center;
  }

  .skills-item-img {
    margin: 0;
    margin-bottom: 10px;
  }

  .skills-item-header {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .skills-item-text {
    margin: 0 auto;
    margin-bottom: 40px;
    line-height: 22px;
  }

  .portfolio-btns {
    max-width: 445px;
  }

  .portfolio-items {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 25px;
  }

  .portfolio-img {
    width: auto;
  }

  .video-player {
    max-height: 418px;
    min-height: 0;
    background-image: url('./assets/img/video-player.jpg');
    background-repeat: no-repeat;
  }

  .video-player-btn {
    width: 75px;
    height: 75px;
  }

  .video-icon {
    width: 64px;
    height: 64px;
  }

  .price-items {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 80px;
  }

  .price-item {
    width: 58%;
  }

  .price-item-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .section-contacts {
    min-height: 0;
    height: 600px;
    background: url('./assets/img/bg-contacts.jpg');
    background-size: auto 600px;
    background-position: center;
  }

  .contacts-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
    margin: 0 auto;
    max-width: 450px;
  }

  .contacts-title {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    font-size: var(--fs-title-primary);
    line-height: 64px;
    background-color: transparent;
  }

  .contacts-title-text {
    padding: 0;
    padding-bottom: 5%;
    background-color: transparent;
  }

  .contacts-btn {
    align-self: center;
  }

  .container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    height: auto;
  }

  .container-footer-item {
    height: 50px;
    line-height: 2px;
  }

  .footer-data {
    width: auto;
    gap: 20px;
  }

  footer-rss-text {
    padding-bottom: 5px;
  }

  .footer-social {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .portfolio-img {
    width: 80%;
  }

  .hero-container {
    margin-left: auto;
    width: 85%;
  }

  .container-header {
    background-position: center 0;
  }

  .section-hero {
    background-position: center -90px;
  }

  .price-item {
    border: 1px solid var(--clr-contrast);
  }

  .contacts-container {
    width: 85%;
  }
}

@media (max-width: 620px) {
  .nav {
    width: 100%;
  }
}

@media (max-width: 485px) {
  :root {
    --fs-title-primary: 26px;
    --fs-title-secondary: 22px;

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  .switch-lng {
    margin-right: 40px;
  }

  .hero-container {
    margin: 0;
    padding-left: 20px;
    width: 50%;
  }

  .section-title {
    width: 90%;
  }

  .section-skills {
    margin-bottom: 80px;
  }

  .price-btn {
    width: 65%;
    height: 20%;
  }

  .contacts-container {
    width: 70%;
  }
}

@media (max-width: 368px) {
}
