.body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary-clr);
}

// Header
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  padding: 0.25em;
  font-family: var(--ff-header);
  font-weight: var(--regular);
  font-size: 4.5vw;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 7vw;
  }

  @media (max-width: 480px) {
    font-size: 9vw;
  }
}

// Main
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.board {
  width: var(--board-size);
  height: var(--board-size);
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: stretch;
  align-items: stretch;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 10px;
  padding: 15px;
  margin-bottom: 3%; // to display game settings properly
  border: 2px solid var(--shadow-clr);
  border-radius: 25px;
  box-shadow: -10px 7px 0px -2px var(--shadow-clr);

  .cell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-secondary-clr);
    border: 2px solid var(--shadow-clr);
    border-radius: 5px;
    box-shadow: -1.2px 2px 0px 0px var(--shadow-clr);
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      background-color: var(--bg-hover-clr);
    }

    &:active {
      box-shadow: -1.2px 7.4px 0px -2.5px var(--shadow-clr);
    }

    &.cross,
    &.circle {
      cursor: not-allowed;
    }
  }

  @media (max-width: 600px) {
    width: calc(var(--board-size) * 0.75);
    height: calc(var(--board-size) * 0.75);
  }
}

.game-menu {
  display: flex;
  justify-content: center;
  gap: 17.5%;
  min-width: 10%;
}

.game-info {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: var(--text-secondary-clr);
  font-size: 8rem;
  background-color: rgba(#000000, 0.9);

  .winning-message {
    font-size: 8rem;
  }

  .turns {
    font-size: 3rem;
  }
}

// Footer
.footer {
  background-color: var(--bg-primary-clr);
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
}

.footer-info {
  display: flex;
  gap: 10px;
}

.footer-info-item {
  display: block;
  color: var(--text-primary-clr);
  font-size: 2rem;
}

.footer-link,
.footer-link:visited {
  font-size: 2rem;
}

.footer-rss-link {
  display: block;
  width: 100px;
  height: 40px;
  background-image: url('../../assets/svg/rs_school_logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
